
.media-left, .media>.pull-left {
    padding-right: 133px;
}

.directory-info-row .thumb {
    border-radius: 20px;
    height: auto;
    width: 322px;
    margin-right: 25px;
}
img
{
margin-left: 97px;
}

table{
background-color:white;
}
.h1, .h2, .h3, h1, h2, h3 {
    margin-top: 7px;
    margin-bottom: 10px;
}
#desc1{
height:80px;
    overflow-y: auto;
}
.login-bar{
   padding-left: 100px;
    padding-right: 100px;
    margin-left: 0px;
}

.login-bar .open{
   padding-left: 250px;
    padding-right: 250px;
    margin-left: 0px;
}

#main-content{
    padding-bottom:  20px;
    padding-top: 20px;
    padding-left: 50px;
    padding-right: 50px;
    margin-left: 0px;
}


log-arrow-up {
    right: 0px;
}

.top-menu {
    margin-left: 0px;
    padding: 0px 50px 10px;
}

a.logo {

    padding: 2px 20px 10px 60px;
}

.top-left-menu {
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 0px;
    padding-top: 8px;
    padding-bottom: 10px;
}


.top-nav li.dropdown .dropdown-menu {

    right: none;

}

.btn-primary, .btn-primary.disabled, .btn-primary[disabled], .btn-primary.disabled.active, .btn-primary.active[disabled] {
    margin-bottom: 15px;
}

.form-signin .form-control {
    position: relative;
    margin-bottom: 15px;
    height: auto;
    padding: 10px;
    box-sizing: border-box;
   font-size: 13px;
}

.form-signin input[type="text"], .form-signin input[type="password"] {
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #EAEAEA;
    box-shadow: none;
    font-size: 13px;
}

#login-wrapper{
background-image: url("../img/eiffel_tower_paris-1920x1200.jpg");

}


#login-wrapper{
height: 800px;
}
.med {
    position: absolute;
    bottom: 0;
    background: rgba(255, 255, 255, 0.87);
    border-top: 1px solid #fff;
    width: 270px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.09);
    padding: 1px;
    padding-left: 100px;
    border-radius: 0 0 5px 5px;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.35);
}
.form-signin {
   
    box-shadow: 3px 3px 3px rgba(6, 8, 8, 0.21);
}

#signin-wrapper {
   
    max-width: 330px;
    margin: 100px auto 0px;

}

#img-center {
	margin-left: 33%;
	margin-bottom: -23%;
}
.panel {
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}

#panel-even-height{
height: 370px;
}
#panel-even-body-height{
height: 339px;
}


header#expenses{
text-align:center;
}


#height{
height: 50px;
}


#headeralign{
padding: 20px;
}


#doughnut{
height: 400px !important;
width: 534px !important;    

}

#hero-bar{
 height:403px !important; 
}


#form{
width: 100px;
}

.size{
font-size: 20px;
}


#select{
width: 370px;
}


#select1{
width: 1500px;
padding-left: 468px;
}

#wrapper1{
height: 1000px;
}

.align1{
padding-left: 300px;
}

#select2{
width: 500px;
}

header#align{
text-align:center;
}



#pane1{
width:780px;
}


#form{
width: 100px;
}



#receivable_height {
    height: 170px;
}

#Revenue_Expenses{
height: 474px;
}